<section class="hero bg-primary text-white text-center py-5">
    <div class="container">
        <h1 class="display-4">Bienvenidos a (nombre de la empresa real)</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic sapiente, animi asperiores blanditiis veritatis quisquam consequuntur delectus, cum illo placeat officiis laborum laboriosam. Possimus beatae at rem, repellendus necessitatibus aliquam.</p>
        <a href="#services" class="btn btn-outline-light btn-lg">Descubre más</a>
    </div>
</section>