<section id="gallery" class="py-5">
    <div class="container">
        <h2 class="text-center mb-5">Galería</h2>
        <div class="gallery-grid">
            <!-- Main Image -->
            <div class="gallery-item main-image">
                <img src="assets/images/W.webp" loading="lazy" class="img-fluid rounded" alt="Galería 1">
            </div>

            <!-- Smaller Images -->
            <div class="gallery-item small-image">
                <img src="assets/images/R.jpeg" loading="lazy" class="img-fluid rounded" alt="Galería 2">
            </div>
            <div class="gallery-item small-image">
                <img src="assets/images/Q.webp" loading="lazy" class="img-fluid rounded" alt="Galería 3">
            </div>
            <div class="gallery-item small-image">
                <img src="assets/images/S.webp" loading="lazy" class="img-fluid rounded" alt="Galería 4">
            </div>

            <!-- Image with + Icon -->
            <div class="gallery-item view-more">
                <img src="assets/images/A.jpg" loading="lazy" class="img-fluid rounded" alt="Galería 5">
            </div>
        </div>
    </div>
</section>