:host {
    display: block;
    margin-bottom: 20px;
}

#gallery {
    background-color: #f8f9fa;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.gallery-item {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.main-image {
    grid-column: span 2;
    grid-row: span 2;
}

/* Ajusta la distribución en pantallas más pequeñas */
@media (max-width: 767px) {
    .gallery-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .main-image {
        grid-column: 1 / -1;
        /* Ocupa todo el ancho */
    }

    .small-image:nth-child(2),
    .small-image:nth-child(3) {
        grid-column: span 1;
    }

    .small-image:nth-child(4),
    .view-more {
        grid-column: span 1;
    }
}

/* Ajustes para el modal */
.modal-dialog {
    max-width: 90%;
    /* Asegúrate de que el modal no ocupe más del 90% del ancho de la pantalla */
    margin: 0 auto;
    /* Centra el modal en la pantalla */
}

.modal-body {
    display: flex;
    flex-direction: column;
    padding: 0;
}

/* Contenedor para la imagen y el texto */
.modal-body-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Para pantallas grandes */
.modal-image {
    flex: 1;
    margin-right: 20px;
}

.modal-description {
    flex: 1;
    padding: 0 20px;
    /* Añade padding lateral para el texto */
}

.modal-description h4 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.modal-description p {
    text-align: justify;
    margin: 0 0 15px 0;
    /* Añade margen inferior al texto para separar del borde del modal */
    font-size: 1rem;
}

/* Aumenta el tamaño de la imagen dentro del modal */
.modal-image img {
    width: 100%;
    height: auto;
    max-width: 600px;
    object-fit: cover;
    border-radius: 10px;
}

/* Para pantallas pequeñas */
@media (max-width: 767px) {
    .modal-body-content {
        flex-direction: column;
        text-align: center;
    }

    .modal-image {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .modal-description {
        padding: 0 15px;
        /* Añade padding lateral en pantallas pequeñas */
    }

    .modal-image img {
        max-width: 100%;
        height: auto;
    }

    .modal-description h4 {
        font-size: 1.2rem;
    }

    .modal-description p {
        font-size: 1.2rem;
        text-align: justify;
        margin-bottom: 15px;
        /* Asegúrate de que también haya margen inferior en pantallas pequeñas */
    }
}