header {
    background-color: #f4f4f4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.company-name {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: #333;
    font-size: 1em;
}

.navbar-links a:hover {
    color: #007BFF;
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    .navbar {
        justify-content: center;
        /* Centrar todo el contenido de la barra de navegación */
    }

    .navbar-logo {
        margin-bottom: 10px;
        /* Añadir espacio para evitar que el logo y el toggle se junten */
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
        align-items: center;
        /* Centra los enlaces */
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-toggle {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        background: none;
        cursor: pointer;
        margin: 0 auto;
        /* Centra el botón toggle */
    }

    .navbar-toggle-icon {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 3px 0;
    }
}