<!-- src/app/components/header/header.component.html -->
<header>
    <nav class="navbar">
        <div class="navbar-logo">
            <a href="/home">
            <!-- Usa la ruta desde la carpeta de assets -->
            <img src="assets/images/logo.webp" alt="Logo de la Empresa" class="logo" width="50" height="50">
            <span class="company-name">Pozos Profundos S.A.</span>
            </a>
        </div>
        <div class="navbar-links">
            <a href="/home">Inicio</a>
            <a routerLink="/about">Sobre Nosotros</a>
            <a routerLink="/services">Servicios</a>
            <a routerLink="/projects">Portafolio</a>
            <a routerLink="/contact">Contacto</a>
        </div>
    </nav>
</header>