/* src/app/pages/contact/contact.component.css */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    /* Ancho máximo del formulario */
    background-color: #f8f9fa;
    /* Color de fondo del formulario */
    padding: 20px;
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra para darle profundidad */
}

label {
    margin: 10px 0 5px;
}

input,
textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

