<section id="about-us" class="py-5">
    <div class="container">
        <h2 class="text-center mb-5">Sobre Nosotros</h2>
        <div class="row align-items-center">
            <div class="col-md-6 d-flex justify-content-center mb-10">
                <img src="assets/images/LogoFindDeveloper.png" loading="lazy" class="img-fluid rounded"
                    alt="Nuestra Empresa">
            </div>
            <div class="col-md-6">
                <h3>Quiénes Somos</h3>
                <p>Somos una empresa emergente dedicada a la creación y gestión de desarrollos de software
                    multiplataforma. Aunque
                    estamos comenzando, contamos con un gran entusiasmo y un enfoque innovador para ofrecer soluciones
                    tecnológicas que
                    van desde aplicaciones móviles hasta sistemas integrales en diversas plataformas. Nuestro compromiso
                    es transformar
                    tus ideas en productos funcionales y de alta calidad que no solo cumplan, sino que superen tus
                    expectativas.</p>
                <h4>Valores Fundamentales</h4>
                <ul>
                    <li><strong>Integridad:</strong> Actuamos con honestidad y transparencia en cada aspecto de nuestro
                        trabajo,
                        construyendo relaciones de confianza duraderas con nuestros clientes y colaboradores.</li>
                    <li><strong>Innovación:</strong> Nos apasiona estar a la vanguardia de la tecnología, explorando y
                        adoptando nuevas
                        soluciones para ofrecer productos que superen las expectativas del mercado.</li>
                    <li><strong>Servicio al Cliente:</strong> Nuestra misión es proporcionar una atención excepcional,
                        adaptando
                        nuestras soluciones a las necesidades específicas de cada cliente y garantizando su
                        satisfacción.</li>
                    <li><strong>Colaboración:</strong> Valoramos el trabajo en equipo y fomentamos un ambiente de
                        colaboración tanto
                        interno como con nuestros clientes y socios, para lograr los mejores resultados posibles.</li>
                </ul>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <i class="fa fa-briefcase fa-3x mb-3 text-primary"></i>
                        <h5 class="card-title">Nuestra Historia</h5>
                        <p class="card-text">Aunque somos una empresa joven y emergente, estamos dedicados a la creación y
                            gestión de soluciones de software multiplataforma. Comenzamos con la visión de transformar ideas en
                            productos funcionales y de alta calidad, y nos esforzamos cada día por crecer y ofrecer el mejor
                            servicio a nuestros clientes.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <i class="fa fa-users fa-3x mb-3 text-primary"></i>
                        <h5 class="card-title">Nuestro Equipo</h5>
                        <p class="card-text">Somos un equipo de dos apasionados por la tecnología, dedicados a ofrecer
                            soluciones innovadoras. A pesar de nuestra reciente formación, nuestra pasión y compromiso con la
                            excelencia nos impulsan a superar cualquier desafío.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <i class="fa fa-globe fa-3x mb-3 text-primary"></i>
                        <h5 class="card-title">Nuestra Visión</h5>
                        <p class="card-text">Aspiramos a ser reconocidos como pioneros en el desarrollo de software
                            multiplataforma, brindando soluciones innovadoras y de alta calidad que impacten positivamente en el
                            mundo tecnológico y en nuestros clientes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>