/* src/app/pages/home/home.component.css */
:host {
    display: block;
    margin-bottom: 20px;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para la imagen dentro de cada card-body */
.service-image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 15px;
    border-radius: 5px;
    object-fit: cover;
}