<section id="services" class="py-5">
    <div class="container">
        <h2 class="text-center">Nuestros Servicios</h2>
        <div class="service-grid">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <img src="assets/images/logo1.jpeg" loading="lazy" alt="Servicio 1" class="service-image">
                    <h5 class="card-title">Servicio 1</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nesciunt eos
                        blanditiis vitae sit quasi incidunt, ad dolores numquam eum necessitatibus id accusantium
                        eligendi fugiat dolorem ut sequi perspiciatis modi?</p>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <img src="assets/images/logo2.jpeg" loading="lazy" alt="Servicio 2" class="service-image">
                    <h5 class="card-title">Servicio 2</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione similique
                        ipsam tenetur, necessitatibus numquam magni harum sit a blanditiis dolor est rerum quod
                        molestiae dicta soluta nihil natus accusamus quibusdam?</p>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <img src="assets/images/logo3.jpeg" loading="lazy" alt="Servicio 3" class="service-image">
                    <h5 class="card-title">Servicio 3</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aliquam ipsum
                        maxime. Tempore laudantium, exercitationem commodi vel veniam molestias sint nulla, eveniet
                        sunt, deleniti nam? Deserunt corrupti alias eveniet pariatur.</p>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <img src="assets/images/logo4.jpeg" loading="lazy" alt="Servicio 4" class="service-image">
                    <h5 class="card-title">Servicio 4</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aliquam ipsum
                        maxime. Tempore laudantium, exercitationem commodi vel veniam molestias sint nulla, eveniet
                        sunt, deleniti nam? Deserunt corrupti alias eveniet pariatur.</p>
                </div>
            </div>
        </div>
    </div>
</section>