/* src/app/pages/services/services.component.css */
section {
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    font-size: 1.1em;
    color: #333;
}