<section>
    <!-- src/app/pages/projects/projects.component.html -->
    <div *ngIf="productos.length === 0">
        <p>Cargando productos...</p>
    </div>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Precio Venta</th>
                <th>Cantidad</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productos">
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.categoria?.nombre }}</td>
                <td>{{ producto.precioVenta }}</td>
                <td>{{ producto.cantidad }}</td>
                <td>
                    <img [src]="producto.imagen" alt="{{ producto.nombre }}" width="100">
                </td>
            </tr>
        </tbody>
    </table>
</section>