.carousel-inner img {
    width: 100%;
    max-height: 1000px;
    /* Disminuí el tamaño máximo de la imagen para mejorar tiempos de carga */
    object-fit: cover;
    /* Sigue cubriendo el contenedor, pero puedes cambiarlo a 'contain' si deseas mantener la proporción */
    object-position: center;
}

.carousel-caption {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.5);
    /* Añadí un fondo semi-transparente para mejorar la legibilidad */
    padding: 10px;
    border-radius: 5px;
}

:host {
    display: block;
    margin-bottom: 20px;
}
