<div
  id="carouselExampleDark"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
  data-bs-interval="10000"
  data-bs-pause="false"
>
  <div class="carousel-indicators">
    <button
      title="Slide 1"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      title="Slide 2"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      title="Slide 3"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      title="Slide 4"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
    <button
      title="Slide 5"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="4"
      aria-label="Slide 5"
    ></button>
    <button
      title="Slide 6"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="5"
      aria-label="Slide 6"
    ></button>
    <button
      title="Slide 7"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="6"
      aria-label="Slide 7"
    ></button>
    <button
      title="Slide 8"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="7"
      aria-label="Slide 8"
    ></button>
    <button
      title="Slide 9"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="8"
      aria-label="Slide 9"
    ></button>
    <button
      title="Slide 10"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="9"
      aria-label="Slide 10"
    ></button>
    <button
      title="Slide 11"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="10"
      aria-label="Slide 11"
    ></button>
    <button
      title="Slide 12"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="11"
      aria-label="Slide 12"
    ></button>
    <button
      title="Slide 13"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="12"
      aria-label="Slide 13"
    ></button>
    <button
      title="Slide 14"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="13"
      aria-label="Slide 14"
    ></button>
    <button
      title="Slide 15"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="14"
      aria-label="Slide 15"
    ></button>
  </div>

  <!-- srcset="assets/images/W-small.webp 600w, assets/images/W-medium.webp 1000w, assets/images/W-large.webp 1500w" -->

  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img
        src="assets/images/IMG-20241202-WA0003.jpg"
        sizes="(max-width: 600px) 600px, (max-width: 1000px) 1000px, 1500px"
        loading="lazy"
        class="d-block w-100"
        alt="First slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img
        src="assets/images/IMG-20241202-WA0004.jpg"
        loading="lazy"
        class="d-block w-100"
        alt="First slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img
        src="assets/images/IMG-20241202-WA0005.jpg"
        loading="lazy"
        class="d-block w-100"
        alt="Second slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img
        src="assets/images/IMG-20241202-WA0006.jpg"
        loading="lazy"
        class="d-block w-100"
        alt="Third slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img
        src="assets/images/IMG-20241202-WA0007.jpg"
        loading="lazy"
        class="d-block w-100"
        alt="Fourt slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img
        src="assets/images/IMG-20241202-WA0008.jpg"
        loading="lazy"
        class="d-block w-100"
        alt="Third slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img
        src="assets/images/IMG-20241202-WA0009.jpg"
        loading="lazy"
        class="d-block w-100"
        alt="Third slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img
        src="assets/images/IMG-20241202-WA0010.jpg"
        loading="lazy"
        class="d-block w-100"
        alt="Third slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img
        src="assets/images/IMG-20241202-WA0011.jpg"
        loading="lazy"
        class="d-block w-100"
        alt="Third slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img
        src="assets/images/IMG-20241202-WA0012.jpg"
        loading="lazy"
        class="d-block w-100"
        alt="Third slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img
        src="assets/images/IMG-20241202-WA0013.jpg"
        loading="lazy"
        class="d-block w-100"
        alt="Third slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img
        src="assets/images/IMG-20241202-WA0014.jpg"
        loading="lazy"
        class="d-block w-100"
        alt="Third slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img
        src="assets/images/IMG-20241202-WA0015.jpg"
        loading="lazy"
        class="d-block w-100"
        alt="Third slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleDark"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden"></span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleDark"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden"></span>
  </button>
</div>
